# Fichiers spécifiques à macOS
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Garder yarn.lock pour la gestion des dépendances
# yarn.lock

# Dépendances
node_modules/

# Fichiers Next.js de build
.next/

# Fichiers spécifiques à l'éditeur
.vscode/

# Fichiers sensibles
.env

# Fichiers de logs
auth_lock.json
auth_log.txt
failed_attempts.json
